
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container-fluid">

    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Yetkin Bulunamadı</p>
        <a href="/Admin/Post">&larr; Back to Dashboard</a>
    </div>
</div>
