@model CleanBlog.ViewModels.PageVM

@{
    ViewData["Title"] = "Gizlilik Politikası";

    string pageThumbnail = "";

    if (Model.ThumbnailUrl == null)
    {
        pageThumbnail = "/Template/assets/img/post-bg.jpg";
    }
    else
    {
        pageThumbnail = Model.ThumbnailUrl;
    }
}

<header class="masthead" style="background-image:  url('/thumbnails/@pageThumbnail')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Html.Raw(Model.Title)</h1>
                    <span class="subheading">@Html.Raw(Model.Title)</span>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</main>>
