@model List<CleanBlog.ViewModels.PostVM>

@{
    ViewData["Title"] = "Kullancı Ekleme";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" href="/Admin/Post/Create">Add Post</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">List of Users</h4>
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover" id="myTable">
                <thead>
                    <tr>
                        <th>Resim</th>
                        <th>Başlık</th>
                        <th>Tarih</th>
                        <th>Gönderen Adı</th>
                        <th>Ayarlar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td><img class="img-fluid" style="width:100px;" src="~/thumbnails/@post.ThumbnailUrl" /></td>
                            <td>@post.Title</td>
                            <td>@post.CreatedDate</td>
                            <td>@post.AuthorName</td>
                            <td>
                                <div class="row">
                                    <form method="post" asp-area="Admin" asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id" onsubmit="return confirm('Do You Want to delete this post')">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>

                                    <a href="/Admin/Post/Edit/@post.Id" type="submit" class="btn btn-info">Edit</a>
                             
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
