@{
    ViewData["Title"] = "Kullancı Ekleme";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" >Add Post</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">List of Users</h4>
        </div>
        <div class="card-body">
            dsfsdfsfd
        </div>
    </div>
