
<div class="col-md-8 mx-auto">
    <form>
        <div class="form-group">
            <label>TITLE</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label >Munu 1</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Munu 2</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Munu 3</label>
            <input type="text" class="form-control">
        </div>

        <div class="form-group">
            <label>Munu 4</label>
            <input type="text" class="form-control">
        </div>


      
        <button type="submit" class="btn btn-primary w-100">UPDATE</button>
    </form>
</div>